* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  color: white;
}

#start {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #ae6fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#startButton {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 25px;
  background-color: #f56cc0;
  margin: 20px;
  outline: none;
  cursor: pointer;
}

#logo {
  height: 100px;
  width: 100px;
  border-radius: 15%;
  margin: 10px;
}

body {
  background: linear-gradient(#fec015, #f56cc0, #ae6fff);
  height: 100vh;
  position: relative;
}

.score {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

p {
  text-align: center;
  font-size: 20px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px;
  font-size: 30px;
  animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-iteration-count: 1;
}

@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30px;
}

#rock {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 25px;
  background-color: #fec015;
  margin: 20px;
  outline: none;
  cursor: pointer;
}

#paper {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 25px;
  background-color: #ae6fff;
  margin: 20px;
  outline: none;
  cursor: pointer;
}

#scissors {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 25px;
  background-color: #f56cc0;
  margin: 20px;
  outline: none;
  cursor: pointer;
}

.hands {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#a {
  height: 200px;
  width: 200px;
  padding-right: 60px;
}

#b {
  height: 200px;
  width: 200px;
  padding-left: 60px;
}

#endText {
  visibility: hidden;
  background-color: #f56cc0;
  display: flex;
  position: fixed;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.9;
  font-size: 3rem;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
